{{#if showTitle}}
<header>
    <h1>Stavangersnakk</h1>
</header>
{{/if}}


<main>
    <div id="mapid"></div>
    <script>

        function getcords() {
            navigator.geolocation.getCurrentPosition(position => {
                let brukerkord = [position.coords.latitude, position.coords.longitude];
            });
        }

        getcords();

        var map = L.map('mapid').setView([58.969975, 5.733107], 14.2);
        L.tileLayer('https://api.mapbox.com/styles/v1/stealthalgorithm/ck38knnvx1c6z1cpj7nyst8g0/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3RlYWx0aGFsZ29yaXRobSIsImEiOiJjazM4aGZsZ2IwOHVoM3Bvdng2a2UwNHUzIn0.H5YK9CC9XhpGRfMt0vtQrw', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>

    {{#each Object}}
    <p id="history"></p>
    <script>
        L.marker([{{ Latitude }}, {{ Longitude }}]).addTo(map).on('click', function () { document.getElementById("history").innerHTML = "{{ History }}" })
            //.bindPopup("{{ History }}");

    </script>
    {{/each}}

</main>