{{#if showTitle}}
<header>
    <div class="menu-btn">
        <div class="menu-btn__burger"></div>
    </div>


    <h1>Stavangersnakk</h1>
</header>
{{/if}}

<ul id="menu" style="display: none;">
    <a id="nyM">
        <li>Legg til ny markør</li>

    </a>
    <a id="hPos">
        <li>Hent min plassering</li>

    </a>
    <a href="#">
        <li>About</li>
    </a>
    <a href="#">
        <li>Contact</li>
    </a>

    <a>
        <li>Administrator</li>

    </a>

</ul>
<main>
    <div id="message" style="display:none;"></div>


    <div id="content">
        <div id="mapid"></div>
        {{!-- <div>
            <button id="nyM">Legg til ny markør</button>
            <button id="hPos">Hent min plassering</button>
        </div> --}}

        <form style="display:none;" id="nyText" method="POST" action="">

            <input type="hidden" name="koord" id="sendkord" />
            <input id="sendbutton" type="submit" value="send" />
            <input id="cancelbutton" type="submit" value="cancel" />
            <textarea id="inputhistory" name="tekst"></textarea>

        </form>
        <p id="historyText"></p>
    </div>

    <script>
        let historietext = document.getElementById("historyText");
        let inputtext = document.getElementById("inputhistory");
        let message = document.getElementById("message");
        let menuOpen = true;
        // Historire kordinat ved ny historie

        function clickmarker() {
            map.on("click", function (e) {
                const { lat, lng } = e.latlng;
                document.getElementById("sendkord").value = [lat, lng];
                L.marker(e.latlng, { draggable: 'true' }).addTo(map).bindPopup("Ny markør").openPopup();
            });
        };

        //skjekk at bruker er i stavanger sentrum?
        function getcords() {
            navigator.geolocation.getCurrentPosition(position => {
                L.marker([position.coords.latitude, position.coords.longitude], { draggable: 'true' }).addTo(map).bindPopup("your current location").openPopup();
                document.getElementById("sendkord").value = [position.coords.latitude, position.coords.longitude];
            });
        }

        function visTextFelt() {
            document.getElementById("nyText").style.display = "block";
            historietext.style.display = "none";
        }
        function skjulfelt() {
            document.getElementById("nyText").style.display = "none";
            historietext.style.display = "block";
            message.style.display = "none";
        }

        function sjekklengde() {
            if (!(inputtext.value.length > 20)) {
                console.log(inputtext.value.length);
                message.style.display = "flex";
                message.innerText = "Teksten du inntastet er ikke lang nokk";
            } else {
                message.style.display = "none";
            }

        }

        function visnormal() {
            document.getElementsByTagName("header")[0].style.display = "grid";
            document.getElementsByTagName("footer")[0].style.display = "flex";
        }
        function skjulnormal() {
            document.getElementsByTagName("header")[0].style.display = "none";
            document.getElementsByTagName("footer")[0].style.display = "none";
        }
        function cpmenu(cp) {
            if (cp == 1) {
                document.getElementById("menu").style.display = "grid";
                document.getElementsByTagName("main")[0].style.display = "none";
                menuOpen = false;
            } else {
                document.getElementById("menu").style.display = "none";
                document.getElementsByTagName("main")[0].style.display = "grid";
                menuOpen = true;
            }
        }
        let map = L.map('mapid').setView([58.969975, 5.733107], 14.2);
        L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
            // https://api.mapbox.com/styles/v1/stealthalgorithm/ck38knnvx1c6z1cpj7nyst8g0/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3RlYWx0aGFsZ29yaXRobSIsImEiOiJjazM4aGZsZ2IwOHVoM3Bvdng2a2UwNHUzIn0.H5YK9CC9XhpGRfMt0vtQrw
        }).addTo(map).on("load", function () {
            document.getElementsByClassName("screensplash")[0].style.display = "none";
            visnormal();
        });

        //legger til knapplytter
        document.getElementById("nyM").addEventListener("mousedown", function () { clickmarker(); visTextFelt(); cpmenu(0); }, false);
        document.getElementById("hPos").addEventListener("mousedown", function () { getcords(); visTextFelt(); cpmenu(0); }, false);
        document.getElementById("cancelbutton").addEventListener("mousedown", function () { skjulfelt() }, false);
        inputtext.addEventListener("blur", function () { sjekklengde() }, false);
        inputtext.addEventListener("mouseleave", function () { sjekklengde() }, false);

        const menuBtn = document.querySelector('.menu-btn');

        menuBtn.addEventListener("mousedown", () => {
            if (menuOpen) {
                menuBtn.classList.remove('open');
                cpmenu(1);
                menuOpen = false;
            } else {
                menuBtn.classList.add('open');
                cpmenu(0);
                menuOpen = true;

            }
        });
    </script>

    {{#each Object}}

    <script>
        L.marker([{{ Latitude }}, {{ Longitude }}]).addTo(map).on('click', function () { document.getElementById("historyText").innerText = "{{{ History }}}"; });
    </script>
    {{/each}}

</main>