{{#if showTitle}}
<header>
    <div class="menu-btn">
        <div class="menu-btn__burger"></div>
    </div>


    <h1>Stavangersnakk</h1>
</header>
{{/if}}

<ul id="menu" style="display: none;">
    <a id="nyM">
        <li>Legg til ny markør</li>

    </a>
    <a id="hPos">
        <li>Hent min plassering</li>

    </a>
    <a href="#">
        <li>About</li>
    </a>
    <a href="#">
        <li>Contact</li>
    </a>

    <a>
        <li>Administrator</li>

    </a>

</ul>
<main>
    <div id="message" style="display:none;"></div>


    <div id="content">
        <div id="mapid"></div>
        {{!-- <div>
            <button id="nyM">Legg til ny markør</button>
            <button id="hPos">Hent min plassering</button>
        </div> --}}

        <form style="display:none;" id="nyText" method="POST" action="">

            <input type="hidden" name="koord" id="sendkord" />
            <input id="sendbutton" type="submit" value="send" />
            <input id="cancelbutton" type="submit" value="cancel" />
            <textarea id="inputhistory" name="tekst"></textarea>

        </form>
        {{!-- <div class="close">&times;</div> --}}
        <div id="historyText">

        </div>
    </div>

    <script src="/inc.js">

    </script>


    <script>
        $(function () {
            $.ajax({
                type: "GET",
                url: "/api/snakk",
                success: function (Historys) {
                    $.each(Historys, function (i, Histobj) {
                        console.log(Histobj.History);
                        L.marker([Histobj.Latitude, Histobj.Longitude]).addTo(map).on('click', function () { historietext.innerText = Histobj.History; historietext.style.padding = "1rem"; });
                    });
                }
            });
        });

    </script>

</main>