{{#if showTitle}}
<header>
    <h1>Stavangersnakk</h1>
</header>
{{/if}}


<main>
    <div id="mapid"></div>
    <div id="content">
        <div>
            <button id="nyM">Legg til ny markør</button>
            <button id="hPos">Hent min plassering</button>
        </div>
        <form style="display:none;" id="nyText" method="POST" action="">
            <input type="hidden" name="koord" id="sendkord" />
            <textarea name="tekst"></textarea>
            <input type="submit" value="send" />

        </form>
        <p id="historyText"></p>
    </div>

    <script>
        // Historire kordinat ved ny historie

        function clickmarker() {
            map.on("click", function (e) {
                const { lat, lng } = e.latlng;
                document.getElementById("sendkord").value = [lat, lng];
                L.marker(e.latlng, { draggable: 'true' }).addTo(map);
            });
        };

        //skjekk at bruker er i stavanger sentrum?
        function getcords() {
            navigator.geolocation.getCurrentPosition(position => {
                L.marker([position.coords.latitude, position.coords.longitude], { draggable: 'true' }).addTo(map).bindPopup("your current location").openPopup();
                document.getElementById("sendkord").value = [position.coords.latitude, position.coords.longitude];
            });
        }

        function visTextFelt() {
            document.getElementById("nyText").style.display = "block";
        }

        let map = L.map('mapid').setView([58.969975, 5.733107], 14.2);
        L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
            // https://api.mapbox.com/styles/v1/stealthalgorithm/ck38knnvx1c6z1cpj7nyst8g0/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3RlYWx0aGFsZ29yaXRobSIsImEiOiJjazM4aGZsZ2IwOHVoM3Bvdng2a2UwNHUzIn0.H5YK9CC9XhpGRfMt0vtQrw
        }).addTo(map);

        //legger til knapplytter
        document.getElementById("nyM").onmousedown = function () { clickmarker(); visTextFelt(); };
        document.getElementById("hPos").onmousedown = function () { getcords(); visTextFelt(); };

    </script>

    {{#each Object}}

    <script>
        L.marker([{{ Latitude }}, {{ Longitude }}]).addTo(map).on('click', function () { document.getElementById("historyText").innerHTML = '{{ History }}'; })


    </script>
    {{/each}}

</main>