{{#if showTitle}}
<header>

    <nav role="navigation">
        <div id="menuToggle">
            <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
            <input type="checkbox" />

            <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
            <span></span>
            <span></span>
            <span></span>

            <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
            <ul id="menu">
                <a id="nyM">
                    <li>Legg til ny markør</li>

                </a>
                <a id="hPos">
                    <li>Hent min plassering</li>

                </a>
                <a href="#">
                    <li>About</li>
                </a>
                <a href="#">
                    <li>Contact</li>
                </a>

                <a>
                    <li>Administrator</li>

                </a>

            </ul>
        </div>
    </nav>
    <h1>Stavangersnakk</h1>
</header>
{{/if}}


<main>
    <div id="mapid"></div>
    <div id="content">
        {{!-- <div>
            <button id="nyM">Legg til ny markør</button>
            <button id="hPos">Hent min plassering</button>
        </div> --}}
        <form style="display:none;" id="nyText" method="POST" action="">
            <input type="hidden" name="koord" id="sendkord" />
            <textarea name="tekst"></textarea>
            <input id="sendbutton" type="submit" value="send" />
            <input id="cancelbutton" type="submit" value="cancel" />


        </form>
        <p id="historyText"></p>
    </div>

    <script>
        // Historire kordinat ved ny historie

        function clickmarker() {
            map.on("click", function (e) {
                const { lat, lng } = e.latlng;
                document.getElementById("sendkord").value = [lat, lng];
                L.marker(e.latlng, { draggable: 'true' }).addTo(map);
            });
        };

        //skjekk at bruker er i stavanger sentrum?
        function getcords() {
            navigator.geolocation.getCurrentPosition(position => {
                L.marker([position.coords.latitude, position.coords.longitude], { draggable: 'true' }).addTo(map).bindPopup("your current location").openPopup();
                document.getElementById("sendkord").value = [position.coords.latitude, position.coords.longitude];
            });
        }

        function visTextFelt() {
            document.getElementById("nyText").style.display = "block";
        }
        function skjulfelt() {
            document.getElementById("nyText").style.display = "none";
        }
        let map = L.map('mapid').setView([58.969975, 5.733107], 14.2);
        L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
            // https://api.mapbox.com/styles/v1/stealthalgorithm/ck38knnvx1c6z1cpj7nyst8g0/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3RlYWx0aGFsZ29yaXRobSIsImEiOiJjazM4aGZsZ2IwOHVoM3Bvdng2a2UwNHUzIn0.H5YK9CC9XhpGRfMt0vtQrw
        }).addTo(map);

        //legger til knapplytter
        document.getElementById("nyM").addEventListener("mousedown", function () { clickmarker(); visTextFelt(); }, false);
        document.getElementById("hPos").addEventListener("mousedown", function () { getcords(); visTextFelt(); }, false);
        document.getElementById("cancelbutton").addEventListener("mousedown", function () { skjulfelt() }, false);
    </script>

    {{#each Object}}

    <script>
        L.marker([{{ Latitude }}, {{ Longitude }}]).addTo(map).on('click', function () { document.getElementById("historyText").innerHTML = "{{{ History }}}"; });
    </script>
    {{/each}}

</main>