html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: [main-start content-start] 12fr [content-end main-end];
  grid-template-rows: [main-start] 80px [content-start] auto [content-end] 40px [main-end];
}

header,
footer {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  font-family: "Lobster", cursive;
  grid-column: main;
}

main {
  grid-area: content;
  background-color: #abbed0bd;
  color: black;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

footer {
  grid-column: main;
  position: sticky;
  bottom: 0px;
  z-index: 99999;
}

#mapid {
  grid-column: 2/12;
  grid-row: 1/7;
  margin-top: 10px;
  min-height: 300px;
  min-width: 300px;
  border: solid black 2px;
}
#content {
  grid-column: 2/11;
  grid-row: 7/12;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  #mapid {
    border-radius: 50%;
  }
}
