html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: [main-start content-start] 12fr [content-end main-end];
  grid-template-rows: [main-start] 7rem [content-start] auto [content-end]4rem [main-end];
}

header,
footer {
  background: #373636; /*#5a5a5d;*/
  color: white;
  align-items: center;
}
header {
  font-family: "Lobster", cursive;
  grid-column: main;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}
header > h1 {
  justify-self: center;
  grid-row: 5/8;
}

main {
  grid-area: content;
  background-color: #b6caddbd;
  color: black;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

footer {
  display: flex;
  grid-column: main;
  position: sticky;
  bottom: 0px;
  z-index: 99999;
  justify-content: center;
}
h1 {
  font-size: 3em;
}
p {
  font-size: 2em;
}
#mapid,
#content {
  grid-column: 2/24;
}

#mapid {
  /* grid-row: 1/7; */
  height:40px;
  margin-top: 10px;
  min-height: 300px;
  min-width: 300px;
  border-radius: 50%;
  width: 100%;
  /*border: solid black 2px;*/
}
#content {
  /* grid-row: 7/12; */
}
form {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}


/*do not need all, just changes */
@media only screen and (min-width: 1024px) {
  body {
    grid-template-rows: [main-start] 5rem [content-start] auto [content-end] 3rem [main-end];
  }
  h1 {
    font-size: 2.5em;
  }
  #mapid {
    border-radius: 0%;
  }
  p {
    font-size: 1em;
  }
}
[role="navigation"] {
  justify-self: start;
  position: relative;
  z-index: 999999;
  grid-row: 1/4;
}
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
textarea {
  outline: none;
  width: 100%;
  height: 184px;
  resize: none;
  border: none;
  margin: 0%;
  padding: 0%;
}
#sendbutton  {
  border: none;
  color: white;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#cancelbutton{
  border: none;
  color: white;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
