html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: [main-start content-start] 12fr [content-end main-end];
  grid-template-rows: [main-start] 7rem [content-start] auto [content-end]4rem [main-end];
}

header,
footer {
  background: #373636; /*#5a5a5d;*/
  color: white;
  align-items: center;
}
header {
  font-family: "Lobster", cursive;
  grid-column: main;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}
header > h1 {
  justify-self: center;
  grid-row: 5/8;
}

main {
  grid-area: content;
  background-color: #b6caddbd;
  color: black;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

footer {
  display: flex;
  grid-column: main;
  position: sticky;
  bottom: 0px;
  z-index: 99999;
  justify-content: center;
}
h1 {
  font-size: 3em;
}
p {
  font-size: 2em;
}

#mapid {
  /* grid-row: 1/7; */

  min-height: 300px;
  min-width: 300px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  /*border: solid black 2px;*/
}
#content {
  grid-column: 2/24;
  grid-row: 2/12;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
form {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

/*do not need all, just changes */
@media only screen and (min-width: 1024px) {
  body {
    grid-template-rows: [main-start] 5rem [content-start] auto [content-end] 3rem [main-end];
  }
  h1 {
    font-size: 2.5em;
  }
  #mapid {
    border-radius: 0%;
  }
  p {
    font-size: 1em;
  }
}

textarea {
  outline: none;
  width: 100%;
  height: 184px;
  resize: none;
  border: none;
  margin: 0%;
  padding: 0%;
}
#sendbutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#cancelbutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
