html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: [main-start content-start] 12fr [content-end main-end];
  grid-template-rows: [main-start] 7rem [content-start] auto [content-end]4rem [main-end];
}

header,
footer {
  background: #373636; /*#5a5a5d;*/
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  font-family: "Lobster", cursive;
  grid-column: main;
}

main {
  grid-area: content;
  background-color: #b6caddbd;
  color: black;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

footer {
  grid-column: main;
  position: sticky;
  bottom: 0px;
  z-index: 99999;
}
h1 {
  font-size: 4em;
}
p {
  font-size: 2em;
}
#mapid,
#content {
  grid-column: 2/24;
}

#mapid {
  grid-row: 1/7;
  margin-top: 10px;
  min-height: 300px;
  min-width: 300px;
  border-radius: 50%;
  /*border: solid black 2px;*/
}
#content {
  grid-row: 7/12;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*do not need all, just changes */
@media only screen and (min-width: 1024px) {
  body {
    grid-template-rows: [main-start] 5rem [content-start] auto [content-end] 3rem [main-end];
  }
  h1 {
    font-size: 2.5em;
  }
  #mapid {
    border-radius: 0%;
  }
  p {
    font-size: 1em;
  }
}
