html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 1.5em;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: [main-start content-start] 12fr [content-end main-end];
  grid-template-rows: [main-start] 7rem [content-start] auto [content-end]4rem [main-end];
}

header,
footer,
.screensplash {
  background: #373636; /*#5a5a5d;*/
  color: white;
  align-items: center;
}
header {
  font-family: "Lobster", cursive;
  grid-column: main;
  display: none;
  grid-template-rows: repeat(12, 1fr);
}
header > h1 {
  /*  justify-self: center; */
  grid-row: 5/8;
  font-size: 2em;
}

main {
  grid-area: content;
  background-color: #b6caddbd;
  color: black;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

footer {
  grid-column: main;
  position: sticky;
  display: none;
  bottom: 0px;
  z-index: 99999;
  justify-content: center;
}
h1 {
  font-size: 3em;
}
p {
  font-size: 2em;
  z-index: 450;
}

#mapid {
  /* grid-row: 1/7; */

  min-height: 300px;
  min-width: 300px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  /*border: solid black 2px;*/
}
#content {
  grid-column: 2/24;
  grid-row: 2/12;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#message {
  box-sizing: border-box;
  padding: 2rem;
  position: absolute;
  justify-self: center;
  align-self: center;
  z-index: 600;
  background-color: red;
}

form {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  bottom: 0;
}
textarea {
  outline: none;
  width: 100%;
  height: 240px;
  resize: none;
  border: none;
  margin: 0%;
  padding: 0%;
}
#sendbutton,
#cancelbutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  background: #777575;
}
.screensplash {
  display: flex;
  z-index: 99999999;
  grid-area: main;
  justify-content: center;
  position: relative;
}
.menu-btn {
  grid-row: 5/8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  width: 3rem;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px); /* border: 3px solid #fff; */
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
#menu {
  z-index: 700;
  background: white;
  grid-area: content;
  justify-content: center;
}

/*do not need all, just changes */
@media only screen and (min-width: 1024px) {
  html,
  body {
    font-size: 1em;
  }
  body {
    grid-template-rows: [main-start] 5rem [content-start] auto [content-end] 3rem [main-end];
  }
  h1 {
    font-size: 2.5em;
  }
  #mapid {
    border-radius: 0%;
  }
  p {
    font-size: 1em;
  }
}
