/* Må erstattes med mobil*/
html,
body {
  color: white;
  box-sizing: border-box;
  background-color: #131313;
  height: 100%;

  padding: 0px;
  margin: 0px;
}
.map {
  min-height: 300px;
  min-width: 300px;
}
.transparent {
  background-color: hsla(0, 60%, 0%, 0.4);
}
.transparent-w {
  background-color: rgba(255, 255, 255, 0.103);
}
.no-border {
  border: none;
}
.justify-end {
  justify-content: end;
}
.p10 {
  padding: 10px;
}
.p0-30 {
  padding: 0 30px;
}
.h47 {
  height: 47px;
}
