/* Må erstattes med mobil*/
html {
  height: 100%;

  padding: 0px;
  margin: 0px;
}
body {
  color: white;
  box-sizing: border-box;
  background-color: #131313;
  height: 100%;
  display: grid;
  grid-template-columns: [main-start content-start] 12fr [content-end main-end];
  grid-template-rows: [main-start] 80px [content-start] auto [content-end] 40px [main-end];
}
header {
  grid-column: main;
  background: #006c70;
  text-align: center;
}

main {
  grid-area: content;
  min-height: 400px;
}
footer {
  grid-column: main;
  background: #006c70;
}
.map {
  min-height: 300px;
  min-width: 300px;
}
.transparent {
  background-color: hsla(0, 60%, 0%, 0.4);
}
.transparent-w {
  background-color: rgba(255, 255, 255, 0.103);
}
.no-border {
  border: none;
}
.justify-end {
  justify-content: end;
}
.p10 {
  padding: 10px;
}
.p0-30 {
  padding: 0 30px;
}
.h47 {
  height: 47px;
}
